<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>DEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>CH9344Transport</key>
        <dict>
            <key>CH9344SerialPort1</key>
            <dict>
                <key>CH9344LogicalPort</key>
                <integer>0</integer>
                <key>CFBundleIdentifier</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                <key>CFBundleIdentifierKernel</key>
                <string>com.apple.driver.driverkit.serial</string>
                <key>IOClass</key>
                <string>IOUserSerial</string>
                <key>IOResourceMatch</key>
                <string>IOKit</string>
                <key>IOTTYBaseName</key>
                <string>OpenCH34x</string>
                <key>IOTTYSuffix</key>
                <string>1</string>
                <key>IOUserClass</key>
                <string>CH9344Driver</string>
                <key>IOUserServerName</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            </dict>
            <key>CH9344SerialPort2</key>
            <dict>
                <key>CH9344LogicalPort</key>
                <integer>1</integer>
                <key>CFBundleIdentifier</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                <key>CFBundleIdentifierKernel</key>
                <string>com.apple.driver.driverkit.serial</string>
                <key>IOClass</key>
                <string>IOUserSerial</string>
                <key>IOResourceMatch</key>
                <string>IOKit</string>
                <key>IOTTYBaseName</key>
                <string>OpenCH34x</string>
                <key>IOTTYSuffix</key>
                <string>2</string>
                <key>IOUserClass</key>
                <string>CH9344Driver</string>
                <key>IOUserServerName</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            </dict>
            <key>CH9344SerialPort3</key>
            <dict>
                <key>CH9344LogicalPort</key>
                <integer>2</integer>
                <key>CFBundleIdentifier</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                <key>CFBundleIdentifierKernel</key>
                <string>com.apple.driver.driverkit.serial</string>
                <key>IOClass</key>
                <string>IOUserSerial</string>
                <key>IOResourceMatch</key>
                <string>IOKit</string>
                <key>IOTTYBaseName</key>
                <string>OpenCH34x</string>
                <key>IOTTYSuffix</key>
                <string>3</string>
                <key>IOUserClass</key>
                <string>CH9344Driver</string>
                <key>IOUserServerName</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            </dict>
            <key>CH9344SerialPort4</key>
            <dict>
                <key>CH9344LogicalPort</key>
                <integer>3</integer>
                <key>CFBundleIdentifier</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                <key>CFBundleIdentifierKernel</key>
                <string>com.apple.driver.driverkit.serial</string>
                <key>IOClass</key>
                <string>IOUserSerial</string>
                <key>IOResourceMatch</key>
                <string>IOKit</string>
                <key>IOTTYBaseName</key>
                <string>OpenCH34x</string>
                <key>IOTTYSuffix</key>
                <string>4</string>
                <key>IOUserClass</key>
                <string>CH9344Driver</string>
                <key>IOUserServerName</key>
                <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            </dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.kpi.iokit</string>
            <key>IOClass</key>
            <string>IOUserService</string>
            <key>IOMatchCategory</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>IOResourceMatch</key>
            <string>IOKit</string>
            <key>IOUserClass</key>
            <string>CH9344Transport</string>
            <key>IOUserServerName</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>bConfigurationValue</key>
            <integer>1</integer>
            <key>bInterfaceNumber</key>
            <integer>0</integer>
            <key>idProduct</key>
            <integer>57368</integer>
            <key>idVendor</key>
            <integer>6790</integer>
        </dict>
    </dict>
    <key>OSBundleUsageDescription</key>
    <string>为 WCH CH9344 USB 设备提供四路标准串口。</string>
</dict>
</plist>
